#map {
    height : 100%;
    top : 40px;
    left: 0px;
    width : 100%;
    position: fixed;
}

#sidebar {
    top : 10px;
    width : 400px;
    height : 80vh;
    min-width : 400px;
    background-color : rgba(55,67,71,0.8);
}